[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
motor = "*"
aioredis = "*"
pylint = "*"
flake8 = "*"

[packages]
tornado = "*"
xmltodict = "*"
user-agents = "*"
pyjwt = "*"
python-jwt = "*"

[requires]
python_version = "3.7"
